.navbar {
  padding: 1.5rem 0;
}

.navbar-brand {
  background-color: #0c203c;
  color: #dee5f3;
  display: flex;
}

.navbar-brand:hover {
  color: #dee5f3;
}

.nav-link {
  margin-left: 1rem;
  color: #dee5f3;
}