.permission {
  width: 300px;
}

h1 {
  font-size: 1rem;
}

.selector {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.click-zone {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

label {
  padding-left: 0.5rem;
  cursor: pointer;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  height: 1.4rem;
  width: 1.4rem;
  margin-top: 20px;
  z-index: 100;
  cursor: pointer;
}