@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex !important;
  flex-direction: column !important;
}

html body {
  margin: 0;
  font-family: 'Fira Code', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c203c;
  color: #dee5f3;
}

.layout {
  display: flex;
  flex-direction: column !important;
  height: 100% !important;
}

#root {
  min-height: 100% !important;
}